.cart {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .cartheading {
    text-align: center;
  }
  
  .product-item {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 48%;
    padding: 20px;
    margin-left: 10%;
  }
  
  .cart-math {
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 30px;
    margin-right: 5%;
  }
  
  .cart-math .math-main {
    text-align: start;
  }
  
  .product-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .product-image {
    width: 30%;
  }
  
  .product-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }
  
  .product-details {
    width: calc(70% - 20px);
    padding-left: 20px;
    text-align: left;
  }
  
  .product-display button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .product-display button:hover {
    background-color: #f44336;
  }
  
  .product-item .placeorder {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .product-item .placeorder button:hover {
    background-color: green;
  }
  
  .cart-math hr {
    border: none;
    border-top: 1px dotted #ccc;
  }
  
  .math-main {
    padding: 10px;
  }
  
  .price-heading {
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .price-summary,
  .price-total,
  .price-message {
    margin-top: 10px;
  }

  .price-message{
    color: green;
  }
  